<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<h1>Good health and well being</h1>

<p>In quest’ultimo anno abbiamo vissuto la nostra vita diversamente dal solito per via dell’epidemia che ha scosso il mondo e ci ha costretto a chiudersi in casa ,i medici hanno dovuto cominciare a lavorare ancora di più per far fronte a questa nuova malattia.
Negli ultimi anni sempre molte malattie nascono e si infiltrano nella nostra vita il cui 75% è di natura animale e il 60% è il malattie effettive.
I ricercatori hanno analizzato che il rischio maggiore è locato in oriente ,ma confermano che nessuna zona è esente da rischi.
</p>

<h2>Rischio stimato di trasmissione della malattia dagli animali all'uomo
</h2>

<p>La rapida diffusione delle malattie stanno mettendo pressione sulla fascia medico-sanitaria, infatti questo ha permesso di vedere sia i punti di forza che i punti deboli dell’assistenza sanitaria.
Il personale medico disponibile varia da nazione a nazione, nei paesi più poveri abbiamo un personale di 0,3 su 1000 persone, un decimo rispetto alle nazioni ad alto reddito che invece ne hanno 3 su 1000. Questa non è l’unica disparità, anzi ci sono pure le differenze sulle infrastrutture oltre a i letti d'ospedale ecc.
</p>

<p>Il numero di personale medico è essenziale per fornire cure salvavita, il Covid-19 ha dimostrato come pure i paesi sviluppati possono avere difficoltà ad una richiesta enorme e  immediata di personale medico e di infrastrutture mediche.
</p>

<p>Poi si può andare a trattare un altro problema che causa difficoltà nelle cure nei diversi paesi,dato che non in tutti paesi si ha una copertura sanitaria globale
</p>

<p>Più i paesi passano da un reddito più basso a uno più alto, la dipendenza dalle spese per finanziare la domanda di salute aumenta. Ciò diventa spesso un rischio finanziario più elevato per le persone nei paesi a reddito medio. Quando solo una piccola parte della popolazione deve affrontare spese sanitarie catastrofiche, ciò può significare che le barriere finanziarie all'accesso alle cure sono così alte che molte persone rinunciano ai servizi sanitari (tipico dei paesi a basso reddito in cui la copertura dei servizi è bassa). Oppure potrebbe riflettere una situazione in cui la copertura del servizio è elevata e i sistemi di protezione sociale supportano cure a prezzi accessibili (tipico dei paesi ad alto reddito).
</p>

<p>I pagamenti diretti, effettuati da individui, sono una delle più importanti fonti di finanziamento per la salute, soprattutto per i paesi a reddito medio-basso. In quei paesi i pagamenti vivi rappresentano almeno la metà del finanziamento sanitario totale.
</p>

<p>In termini assoluti, il divario tra paesi ricchi e poveri nella spesa sanitaria pro capite è sbalorditivo. Nel 2017 i paesi ad alto reddito hanno speso oltre 60 volte di più pro capite per la salute rispetto ai paesi a reddito medio-basso e 120 volte di più rispetto alle economie a basso reddito.
</p>

<h2>Risultati sulla salute globale e potenziale impatto di COVID-19
</h2>

<p>La pandemia COVID-19 continua a manifestarsi. Si prevede che le problematiche causate dal virus porteranno a sostanziali battute d'arresto nei principali indicatori sanitari.
</p>

<p>Il framework SDG riconosce l'imperativo di porre fine alle morti precoci prevenibili. Negli ultimi tre decenni il tasso di mortalità globale sotto i cinque anni (la probabilità per 1.000 che un neonato muoia prima di raggiungere i 5 anni) è diminuito di circa il 60%.Sebbene tutte le regioni abbiano compiuto progressi, rimangono enormi disparità geografiche. A partire dal 2019, oltre l'80% dei decessi sotto i cinque anni si è verificato nell'Africa subsahariana e nell'Asia meridionale. L'Africa subsahariana ha il più alto tasso di mortalità sotto i cinque anni (76 morti ogni 1.000 nati vivi), seguita dall'Asia meridionale (40).
</p>

<p>Sarà necessario uno sforzo considerevole per 73 paesi (45 dei quali nell'Africa subsahariana) per raggiungere l'obiettivo SDG di 25 o meno decessi ogni 1.000 nati vivi entro il 2030.
</p>

<h2>L'Africa subsahariana e l'Asia meridionale sopportano la maggior parte del fardello dei decessi sotto i cinque anni
</h2>

<p>Mentre il numero di decessi infantili causati direttamente da COVID-19 può essere piccolo rispetto al numero causato da altre malattie comuni, molti bambini sono ad alto rischio di morire a causa degli effetti indiretti della pandemia, comprese interruzioni diffuse nella fornitura e nell'utilizzo dei servizi di assistenza sanitaria critica.
</p>

<p>Gli effetti indiretti includono anche l'aumento della malnutrizione a causa di interruzioni nelle catene di approvvigionamento alimentare e la diminuzione dell'accessibilità economica di alimenti nutrienti a causa del calo del reddito familiare. Questi fattori possono portare a malnutrizione infantile e basso peso alla nascita, entrambi i principali fattori che contribuiscono alla mortalità infantile. Si stima che il numero di decessi aggiuntivi ogni mese oscilli tra 42.000 e oltre 190.000, a seconda della gravità dell'impatto del blocco.
</p>

<h2>Stima dei decessi materni e infantili aggiuntivi, al mese, secondo lo scenario di blocco COVID-19
</h2>

<p>Più neonati potrebbero morire durante la pandemia, perché meno donne allattano al seno a causa della paura della trasmissione di COVID-19. Livelli più bassi di allattamento al seno rendono i neonati più vulnerabili a malattie come la polmonite e la diarrea.
</p>

<p>L'incidenza globale della tubercolosi è diminuita di quasi un quarto dal 2000 . Nel 2018 l'incidenza più alta è stata nell'Africa sub-sahariana (230 casi di tubercolosi nuovi e recidivanti ogni 100.000 persone) e in Asia meridionale (206). Anche la mortalità causata dalla tubercolosi rimane notevolmente più alta dell'Africa sub-sahariana che nel resto del mondo. La maggiore incidenza di HIV nella regione è un fattore che contribuisce perché un sistema immunitario indebolito rende più probabile che le persone con un'infezione da TB latente sviluppino la malattia.
</p>

<h2>Il raggiungimento di tassi di immunizzazione ottimali spesso richiede molto tempo
</h2>

<p>La pandemia COVID-19 ha evidenziato la necessità di metodi rapidi ed efficienti per sviluppare e attuare programmi di vaccinazione in tutto il mondo, a partire dalle popolazioni più vulnerabili. I programmi di immunizzazione precedenti e attuali mostrano che l'eradicazione completa della malattia può essere molto impegnativa.
</p>

<p>Gli SDG supportano la ricerca e lo sviluppo di vaccini e medicinali per malattie trasmissibili e non trasmissibili che colpiscono principalmente i paesi in via di sviluppo ( obiettivo SDG 3.b ). I tassi globali di vaccinazione infantile per immunizzazioni critiche come morbillo, difterite, pertosse e tetano, poliomielite ed epatite B sono dell'80-90%. In molti casi ci sono voluti decenni per raggiungere quei tassi e rimangono ancora grandi differenze tra i paesi.
</p>


